.footer {
    margin: 0 25px 60px;
    padding: 0;
    color: #545454;
    min-width: 318px;
    max-height: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

}