.element__like {
    background-image: url(../../images/like.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #ffffff;
    min-width: 22px;
    min-height: 19px;
    margin-right: 20px;
    transition: opacity 0.2s;
}

.element__like:hover {
    opacity: 0.5;
}

.element__like:focus {
    background-image: url(../../images/Union.svg);
}